@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  @font-face {
    font-family: 'Sentient';
    src: url('./assets/fonts/Sentient-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Sentient';
    src: url('./assets/fonts/Sentient-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Sentient';
    src: url('./assets/fonts/Sentient-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Sentient';
    src: url('./assets/fonts/Sentient-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
  }

  body {
    font-family: 'Sentient', serif;
  }
}

/* Keep your animations at the bottom */
@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-4px); }
  75% { transform: translateX(4px); }
}

.animate-shake { animation: shake 0.2s ease-in-out 0s 2; }